# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# Format documentation: http://kicad-pcb.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv


# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Ruby and Ceedling
*.gem
.bundle
Gemfile.lock
pkg/*
.yardoc
*.sublime-workspace

# Temp Files
*.tmp

# IAR Embedded Workbench Files
*.dep
*.eww

bin/
iar/bin/
Firmware/LCP_Control/iar/cspycomm.log
Firmware/LCP_Control/iar/freertos_lowpower.dep
Firmware/LCP_Control/iar/freertos_lowpower.ewp
Firmware/LCP_Control/iar/freertos_lowpower.ewt
Firmware/LCP_Control/iar/LogFile1.log
Firmware/LCP_Control/iar/TermIO.log
Firmware/LCP_Control/iar/bin/.ninja_log
Firmware/LCP_Control/iar/bin/am_bsp_pins.lst
Firmware/LCP_Control/iar/bin/am_bsp_pins.pbi
Firmware/LCP_Control/iar/bin/am_bsp.lst
Firmware/LCP_Control/iar/bin/am_devices_button.lst
Firmware/LCP_Control/iar/bin/am_devices_led.lst
Firmware/LCP_Control/iar/bin/am_util_debug.lst
Firmware/LCP_Control/iar/bin/am_util_delay.lst
Firmware/LCP_Control/iar/bin/am_util_faultisr.lst
Firmware/LCP_Control/iar/bin/am_util_stdio.lst
Firmware/LCP_Control/iar/bin/bsp_uart.lst
Firmware/LCP_Control/iar/bin/buffer_c.lst
Firmware/LCP_Control/iar/bin/build.ninja
Firmware/LCP_Control/iar/bin/event_groups.lst
Firmware/LCP_Control/iar/bin/freertos_lowpower.bin
Firmware/LCP_Control/iar/bin/freertos_lowpower.log
Firmware/LCP_Control/iar/bin/freertos_lowpower.pbd
Firmware/LCP_Control/iar/bin/freertos_lowpower.pbd.browse
Firmware/LCP_Control/iar/bin/freertos_lowpower.pbw
Firmware/LCP_Control/iar/bin/freertos_lowpower.sim
Firmware/LCP_Control/iar/bin/heap_2.lst
Firmware/LCP_Control/iar/bin/LED.lst
Firmware/LCP_Control/iar/bin/list.lst
Firmware/LCP_Control/iar/bin/main.lst
Firmware/LCP_Control/iar/bin/main.pbi
Firmware/LCP_Control/iar/bin/port.lst
Firmware/LCP_Control/iar/bin/portasm.lst
Firmware/LCP_Control/iar/bin/queue.lst
Firmware/LCP_Control/iar/bin/rtos.lst
Firmware/LCP_Control/iar/bin/S9_temp.lst
Firmware/LCP_Control/iar/bin/S9_temp.pbi
Firmware/LCP_Control/iar/bin/startup_iar.lst
Firmware/LCP_Control/iar/bin/tasks.lst
Firmware/LCP_Control/iar/bin/timers.lst
Firmware/LCP_Control/iar/settings/freertos_lowpower.dnx
Firmware/LCP_Control/iar/settings/freertos_lowpower.wsdt
